:root {
  /* базовые размеры секций и блоков сайта */
  --container-width: 1200px;
  --container-padding-x: 15px;
  --container-padding-y: 60px;

  --header-hight: 288px;

  /* цветовая палитра сайта */
  --color-dark: #000;
  --color-light: #fff;
  --color-gray: #ccc;
  --color-dark-gray: #888;
  --color-light-gray: #eee;

  /* семейство шрифтов сайта */
  --font-family-text: Montserrat, sans-serif;
  --font-size-text: 18px;
  --font-weight-text: 400;
  --font-family-header: "Playfair Display", serif;
  --font-size-header: 36px;
  --font-weight-header: 700;

  /* базовые настройки типовых элементов */
  --border-radius: 8px;

  /* базовые настройки форм */
  --input-height: 52px;
  --input-font-family: var(--font-family-text);
  --input-font-size: 14px;

  /* базовые настройки интерактивных элементво и анимации */
  --transition-duration: 0.2s;
}
